<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Idade Média</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div>
  <h1>Idade Media de Cada Curso</h1>
  <table class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Nome do Curso</th>
      <th>Idade Media dos Participantes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="curso : ${cursos}">
      <td th:text="${curso.nome}"></td>
      <td th:text="${curso.idade}"></td>
    </tr>
    </tbody>
  </table>
  <a href="/Estatisticas" class="btn btn-back">Voltar para Estatísticas</a>
</div>
</body>
</html>
