<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="ISO-8859-1">
    <title>Estatisticas</title>
</head>
<body>
<!-- Pagina com os butoes: Cursos e Inscriçoes; Cursos Em funcionamento; Horas dos Cursos; Aprovaçoes dos Cursos; Idade Media de Curso; De Onde Vêm os Nossos alunos? -->
<div>
    <h1>Estatisticas</h1>
    <button onclick="window.location.href='/cursos'">Cursos e Inscrições</button>
    <button onclick="window.location.href='/cursosEmFuncionamento'">Cursos Em funcionamento</button>
    <button onclick="window.location.href='/horasDosCursos'">Horas dos Cursos</button>
    <button onclick="window.location.href='/aprovacoesDosCursos'">Aprovações dos Cursos</button>
    <button onclick="window.location.href='/idadeMediaDeCurso'">Idade Média de Curso</button>
    <button onclick="window.location.href='/deOndeVemOsNossosAlunos'">De Onde Vêm os Nossos alunos?</button>
</div>
</body>
</html>