<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Estatisticas</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<!-- Pagina com os butoes: Cursos e Inscriçoes; Cursos Em funcionamento; Horas dos Cursos; Aprovaçoes dos Cursos; Idade Media de Curso; De Onde Vêm os Nossos alunos? -->
<div>
    <h1>Estatisticas</h1>
    <button onclick="window.location.href='/cursos'">Cursos e Inscrições</button>
    <button onclick="window.location.href='/cursosEmFuncionamento'">Cursos Em funcionamento</button>
    <button onclick="window.location.href='/horasDosCursos'">Horas dos Cursos</button>
    <button onclick="window.location.href='/aprovacoesDosCursos'">Aprovações dos Cursos</button>
    <button onclick="window.location.href='/idadeMediaDeCurso'">Idade Média de Curso</button>
    <button onclick="window.location.href='/deOndeVemOsNossosAlunos'">Proveniências</button>

    <div th:if="${userStatus == 1}">
        <a href="/homeAluno" class="btn btn-back">Voltar para o Home Aluno</a>
    </div>
    <div th:if="${userStatus == 2}">
        <a href="/homeProfessor" class="btn btn-back">Voltar para o Home Professor</a>
    </div>
    <div th:if="${userStatus == 3}">
        <a href="/homeAdmin" class="btn btn-back">Voltar para o Home Admin</a>
    </div>
    <div th:if="${userStatus != 1 and userStatus != 2 and userStatus != 3}">
        <a href="/" class="btn btn-back">Voltar para o Home</a>
    </div>
</div>
</body>
</html>