<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="home-container">
    <h1>Admin Home</h1>
    <a href="/showProfessores" class="nav-button">Mostrar Professores</a>
    <a href="/showCursos" class="nav-button">Mostrar Cursos</a>
    <a href="/showAlunos" class="nav-button">Mostrar Alunos</a>
    <a href="/showAdmins" class="nav-button">Mostrar Administradores</a>
    <a href="/Estatisticas" class="nav-button">Estatísticas</a>
</div>
</body>
</html>
