<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Professor Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="home-container">
    <h1>Professor Home</h1>
    <!-- <a href="/InscreverCurso" class="nav-button">Inscrever Curso</a>
    <a href="/InscreverAluno" class="nav-button">Inscrever Aluno</a> -->
    <a href="/MinhasTurmas" class="nav-button">Minhas Turmas</a>
    <a href="/Turma" class="nav-button">Turma</a>
    <a href="/Estatisticas" class="nav-button">Estatísticas</a>
</div>
</body>
</html>
