<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="home-container">
    <h1>Admin Home</h1>
    <a href="/InscreverProfessor" class="nav-button">Inscrever Professor</a>
    <a href="/InscreverCurso" class="nav-button">Inscrever Curso</a>
    <a href="/InscreverAluno" class="nav-button">Inscrever Aluno</a>
    <a href="/Estatisticas" class="nav-button">Estatísticas</a>
</div>
</body>
</html>
