<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <meta charset="ISO-8859-1">
    <title>Departments management</title>
</head>
<body>
<div>
    <h1>Alunos</h1>
    <a th:href="@{/showNewDepForm}">Adicionar Aluno</a>
<table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aluno : ${alunos}">
            <td th:text="${aluno.nome}"></td>
            <td th:text="${aluno.nHoras}"></td>
        </tr>
        </tbody>
</table>
</div>
</body>
</html>
