<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <div>
        <label for="contacto">Contacto:</label>
        <input type="text" id="contacto" name="contacto" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <button type="submit">Login</button>
        <button type="button" class="btn-register" onclick="window.location.href='/InscreverAluno'">Registrar</button>
    </div>
</form>
<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>
</body>
</html>